lexer.[hc]
stu.tab.[hc]
libstu.pc
stu
*~
*.o
*.lo
*.la
config.status
config.sub
config.guess
ylwrap
stamp-h1
missing
test-driver
depcomp
install-sh
libtool
ltmain.sh
configure.scan
aclocal.m4
autom4te.cache*
autoscan.log
config.log
config.h
configure
src/Makefile
Makefile
src/libstu/Makefile
.deps*
.libs*
lexer.c
parser.c
parser.h
compile
check/runner.sh
*.trs
*.log
Makefile.in
config.h.in
m4/*
check/*.test
check/test_prog_runner.sh
