language: c

compiler:
    - clang
    - gcc

before_install:
    - sudo apt-get update
    - sudo apt-get install autoconf automake libtool valgrind libedit-dev

script: ./configure --disable-shared && make check

before_script: autoreconf -i

branches:
  only:
    - master
